# 1.0 Introdução

## 1.1 Problema de Negocio

[House Rocket][HRlink] plataforma de compras e vendas de imoveis.

***Modelo de Negocio:*** Comprar casas com preco baico e revender com o preco mais alto. 

***Desafio***: Encontrar bons negocios dentro do portifolio disponivel, ou seja, encotrar casas com preco baixo, em boa localizacao e que tenham um bom potencial de venda por um preco mais alta.

[HRlink]: https://sejaumdatascientist.com/os-5-projetos-de-data-science-que-fara-o-recrutador-olhar-para-voce/

## 1.2 Perguntas de Negocio.

1. Quais são os imóveis que a House Rocket deveria comprar e por qual preço?
2. Uma vez o imóvel comprado, qual o melhor momento para vende-lo e por qual preço?

## 1.3 Conteudo

Este Notebook está organu=izado como segue: 
- Dados: Carregamento dos dados
- Transformação: Processamento dos dados. 
- Visualização: Analise exploratoria dos dados.

# 2.0 Dados

In [4]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [5]:
df_house = pd.read_csv('../data/kc_house_data.csv')

In [6]:
df_house.sample(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5636,4027700321,20141028T000000,420000.0,3,1.75,2390,11242,1.0,0,0,3,7,1290,1100,1959,0,98155,47.7759,-122.272,2270,9650
20086,2768100512,20150422T000000,659000.0,2,2.50,1450,1213,2.0,0,0,3,9,1110,340,2015,0,98107,47.6692,-122.372,1620,1456
13940,1923000150,20150424T000000,754000.0,5,3.50,3020,15305,2.0,0,0,3,10,2230,790,1978,0,98040,47.5627,-122.216,3680,14486
5716,9201300020,20140811T000000,1517000.0,3,2.25,2610,9409,1.0,1,4,4,8,2610,0,1963,0,98075,47.5789,-122.076,2970,9156
1256,993001629,20141117T000000,265000.0,3,2.75,1120,881,3.0,0,0,3,8,1120,0,1999,0,98103,47.6914,-122.343,1120,1087
11475,1972202505,20140729T000000,543000.0,3,2.50,1540,1256,3.0,0,0,3,8,1540,0,2004,0,98103,47.6498,-122.346,1500,1350
12633,945000410,20150313T000000,265000.0,2,1.00,910,4600,1.0,0,0,3,5,910,0,1917,0,98117,47.6916,-122.362,1020,4600
4987,644000185,20140707T000000,875000.0,3,1.50,1820,12686,1.0,0,0,4,7,1820,0,1952,0,98004,47.5886,-122.195,3020,11550
12449,3905100310,20140625T000000,544000.0,4,2.50,2030,3974,2.0,0,0,3,8,2030,0,1994,0,98029,47.5692,-122.006,1780,3953
10779,2600110710,20140819T000000,602000.0,3,2.25,1580,11580,1.0,0,0,4,8,1580,0,1979,0,98006,47.5503,-122.155,2630,10009

In [7]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [8]:
df_house.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

# 3.0 Transformação

In [9]:
df_house['date'] = pd.to_datetime(df_house['date'])

In [10]:
df_house['seasonality'] = df_house['date'].dt.month.apply(
    lambda x: 'Winter' if (x == 1) | (x == 2) | (x == 12) 
    else ('Spring' if (x >= 3) & (x <= 5) 
    else ('Summer' if (x >= 6) & (x <= 8) 
    else 'Fall')))

In [11]:
df_house[['date', 'seasonality']]

            date seasonality
0     2014-10-13        Fall
1     2014-12-09      Winter
2     2015-02-25      Winter
3     2014-12-09      Winter
4     2015-02-18      Winter
...          ...         ...
21608 2014-05-21      Spring
21609 2015-02-23      Winter
21610 2014-06-23      Summer
21611 2015-01-16      Winter
21612 2014-10-15        Fall

[21613 rows x 2 columns]

In [12]:
def gen_sale_table(df_house):
    df_sale = df_house.copy()
    df_sale['seasonality_median_price'] = df_sale.groupby(['zipcode', 'seasonality'])['price'].transform('median')

    for index, row in df_sale.iterrows():
        if row['price'] > row['seasonality_median_price']:
            df_sale.loc[index, 'sale_price'] = row['price'] + calculate_percentage(row['price'], 10)

        else:
            df_sale.loc[index, 'sale_price'] = row['price'] + calculate_percentage(row['price'], 30)

       # df_sale.loc[index, 'profit'] = row['sale_price'] - row['price']

    return df_sale

In [14]:
def calculate_percentage(value, percentage):
    return value * (percentage/100)

In [15]:
gen_sale_table(df_house)

KeyError: 'sale_price'

In [3]:
df_house.groupby(['zipcode', 'seasonality'])['price'].transform('median')

NameError: name 'df_house' is not defined